<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button class="btn btn-link" routerLink="/">Back Home</button>
  </div>
  <div class="info">
    <strong>Author: Jack Daniel</strong>
    <small>02.01.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, quo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque ducimus eum impedit iste quisquam
      reprehenderit repudiandae sapiente, similique tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil pariatur placeat voluptatem! Alias aperiam
      doloribus eaque molestias optio quidem, quis. At blanditiis deserunt dolorum exercitationem iusto placeat quia
      quidem ullam? Ab, cupiditate distinctio dolore fuga ipsum nisi omnis, pariatur quam quia, repellendus
      reprehenderit voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore ducimus impedit officia, officiis quae
      totam. Beatae dolorum laboriosam odit officia quae quibusdam repellat, ut! Accusamus ea eum laudantium mollitia
      odio officia perspiciatis quas voluptatum. Aliquam aliquid doloribus esse ex ipsam mollitia nesciunt non nostrum
      pariatur quisquam. Alias dolorum ea, earum magnam minima minus praesentium provident sapiente sed temporibus?
      Aspernatur at fugiat ipsum omnis quidem recusandae sint? Alias animi aut commodi consequatur delectus dolores
      ducimus eaque earum eligendi error eum ex, exercitationem id incidunt iusto libero maxime minus modi molestiae
      molestias mollitia nihil nisi nobis obcaecati omnis perferendis porro quidem quo, quod sapiente sunt, suscipit
      voluptas voluptatibus. Excepturi facere impedit nisi optio provident ratione vitae. Delectus error eum quae
      repellat repellendus sed, sequi similique velit voluptatibus! Alias aut, dolorum ea earum est, fugit, harum
      inventore ipsum natus quae quia repellendus voluptate voluptatum? At corporis error impedit sint totam. Accusamus
      accusantium aperiam architecto aspernatur consequatur, cupiditate est illum in ipsa itaque iure laboriosam modi
      molestiae molestias nobis, omnis optio porro quis repellendus tenetur unde veniam veritatis vitae voluptatem
      voluptatum! Aliquid beatae deserunt dignissimos dolorem dolorum eaque earum expedita impedit magnam magni maiores,
      minus nisi nulla numquam officia perferendis porro quasi quo recusandae reprehenderit repudiandae rerum, sapiente,
      sequi sit velit vero voluptates! Accusantium asperiores commodi dolorum eum eveniet explicabo fugiat iusto
      laudantium necessitatibus officiis quas quo reiciendis saepe sed, tempora ut, vero? Architecto blanditiis
      dignissimos dolore doloribus eos exercitationem itaque iure magnam, maxime minima molestias nemo nisi nobis
      pariatur porro quaerat quia ut vero vitae voluptatibus. Autem doloremque laudantium suscipit temporibus veritatis!
      A amet minus nulla odit, officiis voluptatem? Commodi ipsam obcaecati sint. Adipisci assumenda cumque earum eius
      illum minima modi nostrum sed vel veritatis. Deserunt esse facere fugiat id laboriosam magnam neque quae.
      Accusantium asperiores, cum doloribus fugit in itaque, molestias nobis numquam officiis quam quis tempore velit
      veritatis! Aliquid, dignissimos dolor, excepturi exercitationem hic ipsum minus molestiae molestias natus nobis
      omnis optio perspiciatis similique sunt veniam? Dolore pariatur quod reiciendis veniam. A animi, asperiores autem,
      distinctio in incidunt molestias, nemo neque nobis nostrum nulla perferendis quasi quos sapiente sed similique
      sunt voluptas voluptates. Beatae cumque delectus doloribus eligendi enim error facilis modi nobis. Accusantium
      asperiores dolores minima rerum voluptates. Aliquam animi at beatae, consectetur consequatur cumque delectus
      deleniti dolor eaque eius enim eos eum eveniet expedita facere ipsa ipsum nobis odio qui quidem, quisquam quo quod
      recusandae rem similique temporibus vel voluptatibus! Accusantium ad alias aliquam aspernatur atque aut doloremque
      doloribus earum inventore ipsa, ipsum iusto libero nemo nulla perspiciatis rerum totam velit! Accusantium
      asperiores at beatae cupiditate fuga illum ipsa ipsum, soluta ullam velit. Ad aliquid, cum cumque cupiditate
      delectus dignissimos dolores doloribus eveniet ex facere ipsum itaque iure labore maiores nihil, nostrum optio
      quidem, quod reprehenderit suscipit ullam veniam veritatis voluptatibus? Ab distinctio eveniet, fugit itaque
      officia officiis voluptas. Cumque debitis ea fugit veniam! Accusamus accusantium aliquid animi architecto atque
      deserunt ducimus eius eveniet laborum, minus nihil nobis odio omnis pariatur porro quae, quo quod reiciendis
      sapiente sed sequi, totam ut voluptatem. Ad, aliquam aliquid, assumenda at beatae consequatur consequuntur
      cupiditate deleniti dicta dolore dolorem dolorum ducimus earum eius error exercitationem explicabo facere in
      inventore iste iusto laborum libero modi natus neque nihil nisi nobis praesentium quas quo sed similique ullam
      veniam? Amet asperiores assumenda commodi distinctio dolore eum ex expedita ipsam maxime, nihil non obcaecati
      officiis perferendis quaerat quidem repellat suscipit temporibus ullam ut velit. Doloribus fugit id itaque
      laboriosam odio odit quia quod tempora tenetur.</p>
  </div>
</div>
